.header-user {
    background-color: var(--mainColor);
}
.header-user .wrap, .header-nav .wrap {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}
.header-user a, .header-use span{
    color: white;
}
.header-contact .contact-mail, .user-option .logout, .user-option .login{
    margin-right: 30px;
}
.header-shop {
    height: 100px;
}
.header-nav .wrap {
    height: 60px;
    border-top: var(--borderDefault);
}
.header-nav ul{
    display: flex;
}
.header-nav ul li:not(:first-child) {
    margin-left: 30px;
}
.header-nav a {
    font-weight: 700;
    font-size: 1.6rem;
}
.header-nav-right {
    display: flex;
    align-items: center;
}
.header-nav-right .cart {
    position: relative;;
}
.cart-qnt {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: blue;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    border-radius: 50%;
}
.header-search {
    display: flex;
}
.header-search .btn-search{
    height: 30px;
    width: 30px;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
.header-option {
    display: flex;
    align-items: center;
}
.header-change-lang {
    margin-left: 30px;
}
.header-change-lang .lang {
    display: inline-block;
    color: red;
    background-color: white;
    width: 30px;
    text-align: center;
    margin-right: 10px;
}
.switchLangBtn{
    border: none;
    padding: 2px 10px;
}
